:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario:#c9a438;
    --gris: #757575;
    --glassGris: #66dcd2a6;


}
html 
{
font-size: 62.5%px;
}

html 
{
font-size: 62.5%px;

}
body{
    font-size: 16px;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: aqua;
}
.titulo span{

    font-size: 2rem;
    color: brown;
    color: cornflowerblue; 

}

.titulo span{

    color: yellow
}

.navegacion-principal {
    padding-bottom: 10rem;
    background-color: var(--glassGris);
}
.navegacion-principal {
    padding: 1rem;
    display:flex;
    /* justify-conten es para filas 
    align-items es para columnas (flex-direction)*/
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold; /*negritas*/

}

.contenedor{
    width: 120rem;
    /*
    margin: 0 auto 0 auto;
    margin: 0 auto;
    
    */
    margin: 0 auto;

}
.nav-bg{
    background-color: var(--gris);
}


.navegacion-principal a{
    color: var(--blanco);
    text-decoration: dashed;
    background-color: var(--primario);
    display: flex;

}


   /*
clases no llevan . al principio 
    */
p{
    background-color: var(--glassGris);
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/*
Tamaños recomendados para media query
480px para moviles
768px para tablets
1140px para laptops
1400px para dispositivos mas grandes como monitores o TVs
*/

body{
    background-color: seagreen;
}

@media (min-width: 480px){

    body{
        background-color: cornflowerblue    ;
    }
}

@media (min-width: 768px){

    body{
        background-color: greenyellow    ;
    }
}

